<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.person.mapper.PersonMapper">

    <insert id="add" parameterType="com.example.demo.person.domain.Person">
        INSERT INTO t_characteristic
        (eyes,name,height,createDate)
        VALUES
        (#{eyes},#{name},#{height},now())
    </insert>

    <!---->
    <update id="update" parameterType="com.example.demo.person.domain.Person">
        UPDATE t_characteristic SET
        <if test="eyes!=null">eyes=#{eyes},</if>
        <if test="name!=null">name=#{name},</if>
        <if test="height!=null">height=#{height},</if>
        updateDate=now()
        WHERE id=#{id}
    </update>

    <select id="findById" resultType="com.example.demo.person.domain.Person">
        SELECT
        id,
        eyes,
        name,
        height,
        createDate,
        updateDate
        FROM t_characteristic WHERE id=#{id}
    </select>
</mapper>